#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
.counter {
	border: 2px solid #010101;
	padding: 5rem;
}

.counter .number > h1 {
	font-size: 5em;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.counter .controls {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.counter .controls button {
	margin: 0 1.5rem;
	background-color: cadetblue;
	color: #fff;
}

.counter .controls button:active {
	background-color: #fff;
	color: rgb(0, 0, 0);
	/* border: 1px solid red; */
}
